body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }

.select1 input {
  outline: 0;
  background: #8CC63F;
  background-image: none;
  width: 20%;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 5px 25px rgba(0,0,0,.5);
  margin-top: 19%;
  margin-left: 16%;
  font-size: 17px;
  display: flex;
  float: left;
}

.select2 input {
  outline: 0;
  background: #8CC63F;
  background-image: none;
  width: 20%;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 5px 25px rgba(0,0,0,.5);
  margin-top: 19%;
  margin-right: 16%;
  font-size: 17px;
  display: flex;
  float: right;
}

.select-item{
  background-color: #608929;
}

.select-item:hover{
  background-color: red;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 44%;
}

h1{
  font-size: 25px; 
  margin-left: 48%;
  margin-top: 19%;
  position: absolute;
}

#oddsTable{
  font-family: sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  display: none;
}

#oddsTable td, #oddsTable th{
  border: 3px solid #ddd;
  padding: 10px;
}

#oddsTable th{
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #385623;
  color: white;
  width: 12%;
}

#oddsTable td{
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #538135;
  color: white;
}


